html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,

time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.title{
	width: 327px;
	margin: auto;
}
.title img{
	height: 150px;
}

.wrapper_table{
 margin: 50px auto;
 box-shadow :0 0 10px #bbb;
 /*border: 1px solid blue;*/
 height: auto;
 text-align: center;
 width: 500px;

}
.lostPwd{
	width: 500px;
	margin: auto;
	font-size: 12px;
}

.lostPwd div{
	width: 500px;
	height: 72px;
	margin: auto;
	background-color: #E4E4E4;
	position: relative;
}
.lostPwd label{
	width: 200px;
}

#lostPwd_id{
	border: none;
	background: white;
	width: 400px;
	height: 30px;
	top: 10px;
	left: 50px;
}
#lostPwd_email{
	border: none;
	background: white;
	width: 400px;
	height: 30px;
	top: 10px;
	left: 50px;
}

.wrapper_table .lostPwd_header {
	background-color: #3253B9;
	border-bottom: 1px solid #bbb;
	height: 50px;
}
.lostPwd_header p {
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	padding: 13px 0px 30px 13px;
}
.lostPwd .form_submit{	
 height: 65px;
 text-align: center;
}
.form_submit input{    
	border: 0px;
    background: #3c9;
    width: 392px;
    height: 33px;
    margin: 0px;
    font-size: 19px;
    color: #ddd;
}